<div class="panel panel-filled panel-c-white" >
	<div class="panel-heading">
		<a class="panel-toggle" ng-click="toggleCorrelationSCHMOF=!toggleCorrelationSCHMOF"><i class="fa" ng-class="{'fa-chevron-down': toggleCorrelationSCHMOF,'fa-chevron-right': !toggleCorrelationSCHMOF}"></i></a> 
	    <a  href="#" data-inputclass="form-control" ng-bind="contentSource.sortId"></a> 	   
	    <span data-inputclass="form-control" ng-click="cosc.getHMOFContentSources(correlationSource)" editable-select="contentSource.content" e-name="id" e-ng-options="contentItem[0] as contentItem[1] for contentItem in cosc.fullSResources" onbeforesave="cosc.updateTCSourceResource(contentSource, $data)">{{contentSource.content.displayTitle}}</span>     

		<a class="pull-right text-right" data-nodrag ng-click="cosc.delete(contentSource)"><i class="fa fa-times"></i></a> 
		
	</div>
	 <div class="panel-body" ng-show="toggleCorrelationSCHMOF">
       <ng-include src="'correlations/contenttargethmof_renderer.html'"></ng-include>	       
	</div> 
</div>