<div class="panel panel-filled panel-c-white">
    <div class="panel-heading">
        <div class="panel-tools" ng-show="!editableThirdContentForm.$visible && !editableThirdLevelCRForm.$visible">
            <div class="btn-group pull-right text-right">
                <!-- button to show form -->
                <button class="btn btn-default btn-sm" type="button" ng-click="contentc.editContent(true, thirdLevelItem, false);editableThirdContentForm.$show()">
                    <i class="fa fa-plus-square-o"></i> Add Resource
                </button>
            </div>
        </div>
        <span><a class="panel-toggle" ng-show="thirdlc.fullThirdLevel[thirdLevelItem.id].content[0] != null" ng-click="toggleThirdContent=!toggleThirdContent"><i class="fa" ng-class="{'fa-chevron-down':toggleThirdContent ,'fa-chevron-right': !toggleThirdContent}"></i></a> Resources</span>
    </div>
    <!-- Content List -->
    <div class="panel-body" ng-show="toggleThirdContent && thirdlc.fullThirdLevel[thirdLevelItem.id].content[0] != null && !editableContentForm.$visible">
        <div class="table-responsive" ng-show="!editableThirdContentForm.$visible && !editableThirdLevelCRForm.$visible && !pc.accordian.toggleThirdContentTable[thirdLevelItem.id]">
            <table datatable="ng" dt-options="contentc.dtOptions" dt-column-defs="contentc.dtColumnDefs" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Lesson Plan</th>
                        <th>Instructional Segment</th>
                        <th>Strand</th>
                        <th>Sort ID</th>
                        <th>Display Title</th>
                        <th>Component</th>
                        <th class="text-right">edit</th>
                        <th class="text-right">clone</th>
                        <th class="text-right">delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-model="thirdlc.fullThirdLevel[thirdLevelItem.id].content" ng-repeat="contentItem in thirdlc.fullThirdLevel[thirdLevelItem.id].content | orderBy:['lessonPlan.sortId', 'segment.hierarchy', 'strand.hierarchy', 'sortId'] track by $index" >

                    <td><a class="panel-toggle" ng-click="contentc.updateCurrentFullContentId('',contentItem.id, null);pc.accordian.toggleThirdContentList[contentItem.id]=!pc.accordian.toggleThirdContentList[contentItem.id];pc.accordian.toggleThirdContentTable[thirdLevelItem.id]=!pc.accordian.toggleThirdContentTable[thirdLevelItem.id]"><i class="fa" ng-class="{'fa-chevron-down':pc.accordian.toggleThirdContentTable[thirdLevelItem.id] ,'fa-chevron-right': !pc.accordian.toggleThirdContentTable[thirdLevelItem.id]}"></i></a></td>
                    <td>{{contentItem.lessonPlan.title}}</td>
                    <td>{{contentItem.segment.title}}</td>
                    <td>{{contentItem.strand.title}}</td>
                    <td>{{contentItem.sortId}}</td>
                    <td>{{contentItem.displayTitle}}</td>
                    <td>{{contentItem.component.component}}</td>
                    <td class="text-right"><a href="#thirdLevelContentForm" ng-click="contentc.updateCurrentFullContentId('edit',contentItem.id, thirdLevelItem);editableThirdContentForm.$show()"><i class="fa fa-edit"></i></a></td>

                    <td class="text-right"><a href="#thirdLevelContentForm" ng-click="contentc.updateCurrentFullContentId('clone', contentItem.id, thirdLevelItem);editableThirdContentForm.$show()"><i class="fa fa-clone"></i></a></td>

                    <td><a class="pull-right" data-nodrag ng-click="contentc.delete(contentItem, 'thirdlevel')" delete-confirm-click="Are you sure you want to delete this Third-Level resource?"><i class="fa fa-times"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>