 <div class="panel panel-filled panel-c-white" ng-controller="LevelKeywordController as lkwc">
    <div class="panel-heading" >
        <div class="panel-tools" ng-show="!editableFifthLPForm.$visible">
            <div class="btn-group pull-right text-right">
                <!-- button to show form -->
                <button class="btn btn-default btn-sm" type="button" ng-click="editableFifthLKWForm.$show()" ng-show="!editableFifthLKWForm.$visible">
                    <i class="fa fa-plus-square-o"></i> Add Level Keyword
                </button>
            </div>
        </div>
        <span><a class="panel-toggle" ng-show="fifthlc.fullFifthLevel[fifthLevelItem.id].keywords[0] != null" ng-click="toggleFifthLKW=!toggleFifthLKW"><i class="fa" ng-class="{'fa-chevron-down':toggleFifthLKW ,'fa-chevron-right': !toggleFifthLKW}"></i></a> Level Keywords</span>
    </div>  
    <form class="form-horizontal" editable-form name="editableFifthLKWForm" ng-show="editableFifthLKWForm.$visible" ng-submit="lkwc.addLevelKeywordFifthLevel(fifthLevelItem);editableFifthLKWForm.$cancel();">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group required">
                    <label for="levelKeywordItem.levelKeyword" class="col-sm-3 control-label">Level Keyword</label>
                    <div class="col-md-6">                     
                        <input type="text" placeholder="( single value or comma-separated )" name="newKeyword" class="form-control" ng-model="lkwc.newKeyword" required/> 
                    </div>
                </div> 
            </div> 
            <div class="col-md-3">
                <div class="btn-group pull-right text-right" ng-show="editableFifthLKWForm.$visible">
                    <!-- buttons to submit / cancel form -->
                    <button type="submit" class="btn btn-accent"><i class="fa pe-7s-plus"></i> Save</button>
                    <button type="button" class="btn btn-default" ng-click="editableFifthLKWForm.$cancel()"><i class="fa pe-7s-close-circle"></i> Cancel</button>
                </div>
             </div>    
        </div>
    </form>       
    <div class="panel-body" ng-show="toggleFifthLKW && fifthlc.fullFifthLevel[fifthLevelItem.id].keywords[0] != null">      
       <div class="table-responsive" ng-show="!editableFifthLKWForm.$visible">
            <table id="componentTable" class="table table-striped table-hover" >
                <tbody>
                    <tr ng-model="fifthlc.fullFifthLevel[fifthLevelItem.id].keywords" ng-repeat="levelKeywordItem in fifthlc.fullFifthLevel[fifthLevelItem.id].keywords | orderBy:'keyword' track by $index" >

                    <td><a href="#" ng-bind="levelKeywordItem.keyword" editable-text="levelKeywordItem.keyword" onbeforesave="lkwc.updateLevelKeyword(levelKeywordItem, $data)"></a></td>
                    <td><a class="pull-right" data-nodrag ng-click="lkwc.delete(levelKeywordItem, 'fifthlevel')"><i class="fa fa-times"></i></a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>    